.CSSearchTbl {
	border: 1px #008CD4 solid;
}

.CSSearchTbl thead {
	
}

.CSSearchTbl thead tr {
	
}

.CSSearchTbl thead tr th {
	text-align: left;
	padding-left: 10px;
}

.CSSearchTbl tbody {
	
}

.CSSearchTbl tbody tr {
	
}

.CSSearchTbl tbody tr td {
	padding: 10px;
}

.CSSearchTbl tbody tr td.right {
	text-align: left;
}

.CSSearchTbl tbody tr td.left {
	text-align: right;
}